<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<meta name="author" content="NanoTech" />
		<link rel="stylesheet" href="theme/syntax.css" type="text/css" />
		<link rel="stylesheet" href="theme/style.css" type="text/css" media="screen, projection" />
	</head>
	<body>
		{{ content }}

		<a href="http://github.com/nanotech" rel="external" id="github-ribbon"><img src="http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub" /></a>
	</body>
</html>
